# Sensitive environment file
dbinfo.env

# Virtual environment
venv/
env/
.venv/

# Streamlit secrets
.streamlit/secrets.toml

# VSCode configs
.vscode/

# Cache
__pycache__/
*.pyc

# Uploads folder (optional)
uploads/profile_pics/

# OS files
.DS_Store
Thumbs.db
